# Ignore GitHub specific files
.github/**

# Ignore .idea folder
.idea/**

# Ignore all files in the data folder
/data/**

# Ignore all CSV files in the data folder and its subdirectories
/data/**/*.csv

# Un-ignore the README.md file in the data folder
!/data/README.md
